#tap-webapp
{
  background-color: transparent;
  background-image: url("images/iphone.png");
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  height: 680px;
  width: 347px;
  padding-top: 120px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 34px;
}